# .envrc

# Check if PRESET_MODE is set; if not, print a warning and set a default value
if [ -z "$PRESET_MODE" ]; then
    echo "#################################################################"
    echo "############### Warning: PRESET_MODE is not set. ################"
    echo "#################################################################"
    export PRESET_MODE="############################# WARNING ############################"
    return;
fi


export CURRENT_DIR=${PWD##*/}
export CUBRID="$HOME/.cub/install/$CURRENT_DIR/$PRESET_MODE"
export CUBRID_DATABASES="$HOME/.cub/db/$CURRENT_DIR/$PRESET_MODE"
export CUBRID_BUILD_DIR="$(pwd)/build_preset_$PRESET_MODE"
export PATH="$CUBRID/bin:$PATH"
export LD_LIBRARY_PATH="$CUBRID/cci/lib:$CUBRID/lib:$HOME/CUB3LIB/lib:/usr/local/lib:$LD_LIBRARY_PATH"
export CUBRID_BUILD_DIR="$(pwd)/build_preset_$PRESET_MODE"

ln -sf build_preset_"$PRESET_MODE"/compile_commands.json .

# bison 3.0.5
export BISON_PATH="$HOME/my-build/bison-3.0.5/bison-install"
export PATH="$BISON_PATH/bin:$PATH"
export LD_LIBRARY_PATH="$BISON_PATH/lib:$LD_LIBRARY_PATH"

# export CC='ccache gcc'
# export CXX='ccache g++'
# export CCACHE_BASEDIR=$(git rev-parse --show-toplevel)
# export CCACHE_NOHASHDIR=1

echo "Preset Mode: $PRESET_MODE"
echo "Install Dir: $CUBRID"
echo "DB Dir: $CUBRID_DATABASES"
echo "Build Dir: $CUBRID_BUILD_DIR"

